<%- include("../partials/headlink") %>

<div class="container d-flex align-item-center mt-5">
        <div class="row mx-auto col-12 col-xl-10 py-4 border">
            <form id="" action="/auth" class="form col-12 col-md-8 col-lg-6 rounded-0 border-end p-3" method="post">
                <div class="row text-center mt-4 mb-5"><h2 class="text-danger">Bem Vindo</h2></div>
                <div class="form-floating mb-3">
                    <input type="email" name="email" required class="form-control" id="floatingInput" placeholder="name@example.com">
                    <label for="floatingInput">Seu email</label>
                </div>
                <div class="form-floating">
                    <input required type="password" name="password" class="form-control" id="floatingPassword" placeholder="Password">
                    <label for="floatingPassword">Sua senha</label>
                </div>
                <div class="col my-3 px-2 d-flex justify-content-between">
                    <a href="/register" class="text-danger">Cadastre-se</a>
                    <a href="" class="text-danger">Esqueceu sua senha?</a>
                </div>
                <div class="col-12 mt-5 mb-4 text-center">
                    <button type="submit" class="btn py-2 btn-danger rounded-0 col-12">Entrar</button>
                </div>
            </form>
            <div class="d-flex align-items-center col col-12 col-md-4 col-lg-6">
                <img src="img/undraw_access_account_re_8spm.svg" alt="" class="col">
            </div>
        </div>
</div>

<%- include("../partials/footerlink") %>