<%- include("../partials/headlink") %>

<div class="container d-flex align-item-center mt-5">
        <div class="row mx-auto col-12 col-xl-10 py-4 border">
            <form id="" action="/data/complete" onsubmit="verificaSenha(event,this)" class="form col-12 col-md-8 col-lg-6 rounded-0 border-end p-3" method="POST">
                <div class="row text-center mt-4 mb-5"><h2 class="text-danger">Bem Vindo</h2></div>
                <div class="form-floating mb-3">
                    <input oninput="verifica()" type="email" name="email" required class="form-control" id="email" placeholder="name@example.com">
                    <label for="email">Seu email</label>
                </div>
                <div class="form-floating mb-3">
                    <input oninput="verifica()" required type="password" name="password" class="form-control" id="senha1" placeholder="Password">
                    <label for="senha1">Sua senha</label>
                </div>
                <div class="form-floating">
                    <input oninput="verifica()" required type="password" class="form-control" name="ad" id="senha2" placeholder="Password">
                    <label for="senha2">Confirmar senha</label>
                </div>
                <div class="row text-center"><p class="text-smaller text-danger none" id="erro_de_senha">Senhas diferentes tente novamente!</p></div>

                <div class="col-12 mt-5 mb-4 text-center">
                    <button type="submit" id="submit" class="btn py-2 btn-danger rounded-0 col-12 disabled">Cadastrar-me</button>
                </div>
                
            </form>
            <div class="d-flex align-items-center col col-12 col-md-4 col-lg-6">
                <img src="img/undraw_access_account_re_8spm.svg" alt="" class="col">
            </div>
        </div>
</div>
<script>
    function verifica(){
        let senha1=document.querySelector("#senha1").value;
        let senha2=document.querySelector("#senha2").value;
        let email=document.querySelector("#email").value;
        if(senha1 != "" && senha2 != "" && email != ""){
            document.querySelector("#submit").classList.remove("disabled")
        }else{
            document.querySelector("#submit").classList.add("disabled")
        }
    }
    async function verificaSenha(evento,form){
        let erro=document.querySelector("#erro_de_senha");
        let senha1=document.querySelector("#senha1");
        let senha2=document.querySelector("#senha2");

        if((senha1.value == senha2.value)){
            
            senha1.classList.remove("border-danger");
            senha2.classList.remove("border-danger");
            senha1.classList.add("border-success");
            senha2.classList.add("border-success");
            erro.classList.add("none");
            setTimeout(()=>{
            form.submit();    
            },500)
            
        }else{

            evento.preventDefault();
            senha1.classList.add("border-danger");
            senha2.classList.add("border-danger");
            erro.classList.remove("none")
        }
    }
</script>
<%- include("../partials/footerlink") %>